<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio - Five Nights</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main class="container">

        <h1 class="titulo">
            O DESAFIO
            <span>COMEÇOU</span>
        </h1>

        <div class="linha"></div>

        <p class="subtitulo">
            Boa sorte, segurança.
        </p>

        <p class="descricao">
            Você realmente achou que seria tão fácil?
        </p>

        <a href="/" class="botao">
            VOLTAR
        </a>

    </main>

</body>
</html>